<h2>Template Erstellen</h2>

<div class="grid-container">
  <div class="grid-child-purple">
    <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>
  </div>

  <div class="grid-child-green">
    <markdown class="variable-binding" [data]="markdown"></markdown>
  </div>
</div>

<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Name eingeben...</mat-label>
  <input [(ngModel)]="formName" matInput placeholder="LeoForm name...">
</mat-form-field>
<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Beschreiben Sie ihr Form...</mat-label>
  <input [(ngModel)]="formDesc" matInput placeholder="LeoForm description...">
</mat-form-field>

<tr></tr>
<button mat-flat-button color="primary" (click)="sendForm()">Speichern</button>
<tr></tr>
