<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("button").click(function(){
      $("div").text($("form").serialize());
    });
  });
</script>

<p id="header">
  <mat-toolbar>
    <span>LeoForms</span>
  </mat-toolbar>
</p>

<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Id eingeben...</mat-label>
  <input [(ngModel)]="formName" matInput placeholder="LeoForm name..." >
</mat-form-field>
<button mat-flat-button color="primary" (click)="get()">Show Form</button>
<tr></tr>
<button mat-stroked-button color="primary" routerLink="/new">New Form</button>
<tr></tr>

<div [innerHtml]="form | sanitizehtml">
</div>

<button mat-flat-button color="primary">Submit</button>
