.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

mat-toolbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
