<p id="header">
  <mat-toolbar>
    <span>LeoForms</span>
  </mat-toolbar>
</p>

<h2>Template Erstellen</h2>

<div class="grid-container">
  <div class="grid-child-purple">
    <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>
  </div>

  <div class="grid-child-green">
    <markdown class="variable-binding" [data]="markdown"></markdown>
  </div>
</div>

<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Name eingeben...</mat-label>
  <input [(ngModel)]="formName" matInput placeholder="LeoForm name..." >
</mat-form-field>
<br>
<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Beschreiben Sie ihr Form...</mat-label>
  <input [(ngModel)]="formDesc" matInput placeholder="LeoForm description..." >
</mat-form-field>

<tr></tr>
<button mat-flat-button color="primary" (click)="sendForm()">Speichern</button>
<tr></tr>
<button mat-flat-button color="primary" routerLink="/inventory">Template Inventory</button>
<tr></tr>
<button mat-flat-button color="primary" routerLink="/surveys">Survey Inventory</button>
<tr></tr>
<button mat-stroked-button color="primary" routerLink="/show/w">Show Specific</button>
