<p id="header">
  <mat-toolbar>
    <span>LeoForms</span>
  </mat-toolbar>
</p>

<div class="grid-container">
  <div class="grid-child-purple">
    <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>
  </div>

  <div class="grid-child-green">
    <markdown class="variable-binding" [data]="markdown"></markdown>
  </div>
</div>

<tr></tr>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Zielgruppen wählen</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let fruit of fruits"
      (removed)="remove(fruit)">
      {{fruit}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Gruppe hinzufügen..."
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<tr></tr>
<button mat-flat-button color="primary">Send</button>
